/* Root variables */
:root {
  --oran-main: rgb(240, 180, 140);
  --shadow-style: drop-shadow(0px 0px 20px rgba(12, 12, 12, 0.9));
  --filter: drop-shadow(0px 0px 20px rgba(13, 12, 13, 0.9));
}

/* Navigation styles */
.nav-link:hover,
#about-contact img:hover,
.skills img:hover {
  transform: scale(1.19);
  filter: var(--filter);
 -webkit-filter:var(--shadow-style);
}
.nav-link:hover {
  border-bottom: 1px solid white;
}

/* My profile section */
.jumbotron {
  -webkit-filter:var(--shadow-style);
  filter: var(--filter);
  background-color: var(--oran-main);
}
.hero,
nav {
  background-color: var(--oran-main);
}
#myProfile {
  border-radius: 10px;
  margin-top: 10px;
  width: 250px;
  max-width: 50%;
}
.about-contact,
.skills,
.themed-grid-col {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.about-contact,
.skills,
.work {
  margin: 50px;
}
#about-contact img {
  width: 1cm;
  cursor: pointer;
}

/* Projects style */
.project1 {
  background: rgb(146, 182, 143);
}
.project2 {
  background: rgb(136, 184, 195);
}
.project3 {
  background: rgb(160, 149, 234);
}
.project4 {
  background: rgb(235, 177, 228);
}
.project5 {
  background: rgb(242, 197, 199);
}
.img-size {
  height: 50%;
}
.card:hover {
  transform: scale(1.02);
}
.btn:hover {
  transform: scale(1.19);
  -webkit-filter:var(--shadow-style);
  filter: var(--filter);
}

/* Footer style */
.bottom-btn {
  float: right;
  margin-right: 25px;
  width: 40px;
  height: 40px;
}
footer i:hover,
.bottom-btn:hover {
  transform: scale(1.19);
  -webkit-filter:var(--shadow-style);
  filter: var(--filter);
}
footer {
  background-color: var(--oran-main);
}
footer a{
 border-bottom: none;
 text-decoration: none;
}

/* Typografy styles */
h1,
h2,
h3,
h4,
h5 {
  font-family: Optima, sans-serif;
  -webkit-filter:var(--shadow-style);
  filter: var(--filter);
}
